<%= link_to event_path(event, competition: competition), class: "d-inline-block w-100 border shadow-sm bg-white #{event.date < DateTime.current ? "border-info" : "border-secondary"} rounded-1 p-3" do %>
  <div class="d-flex justify-content-between align-items-center mb-3 fs-7 fst-italic">
    <p><%= event.date.strftime "#{event.date.day.ordinalize} %B %y" %></p>
    <p>Took by <%= event.user ? event.user.first_name.capitalize : "nobody..." %></p>
  </div>
  <p class="text-truncate fw-bold"><%= event.title %></p>
  <p class="fs-7">for <%= event.kid.name %></p>
<% end %>
