<%= link_to task_path(id: competitions_task.task, competition: competitions_task.competition), class: "bg-white  d-block border border-info shadow-sm rounded-1 p-3 #{'mb-3' unless last}", style: "border-width: 2px" do %>
  <p class="fs-7 text-end w-100">Took by <%= competitions_task.user ? competitions_task.user.first_name.capitalize : "nobody..." %></p>
  <div class="d-flex justify-content-between align-items-center w-100">
    <div class="overflow-hidden flex-grow-1 me-3">
      <p class="text-truncate fw-bold"><%= competitions_task.task.title %></p>
      <p class="fs-7">For <%= competitions_task.task.kid.name %></p>
      <% if competitions_task.deadline %>
        <p class="fs-7 fst-italic mt-2">Deadline: <%= competitions_task.deadline.strftime "#{competitions_task.deadline.day.ordinalize} %B %y" %></p>
      <% else %>
        <p class="fs-7 fst-italic mt-2">No deadline</p>
      <% end %>
    </div>
    <div class="flex-shrink-0">
      <% if competitions_task.is_done %>
        <span class="material-symbols-outlined" style="font-size: 40px">
          done
        </span>
      <% else %>
        <span class="material-symbols-outlined" style="font-size: 40px">
          close
        </span>
      <% end %>
    </div>
  </div>

<% end %>
