<div class="d-flex flex-column align-items-center h-100 w-100">

  <h2 class="heading-container">
    Your kids
    <span class="material-symbols-outlined heading-illustration-icons">
      child_care
    </span>
  </h2>

  <div class="overflow-y-scroll d-flex align-items-center flex-column border-dotted border-secondary rounded p-3 w-100 flex-grow-1 position-relative">

    <% unless @kids.empty? %>

      <% @kids.each do |kid| %>
        <%= link_to kid_path(kid[:kid]), class: "border bg-white shadow-sm mb-3 w-100 d-flex justify-content-around align-items-center rounded p-3 #{kid[:task_count].zero? && kid[:event_count].zero? ? "border-light" : "border-secondary"}" do %>
          <div class="flex-grow-1">
            <p class="fs-3 mb-3 fw-bold"><%= kid[:kid].name %></p>

            <p>
              <%= kid[:task_count] %> task<%= "s" if kid[:task_count] > 1 %> pending
            </p>
            <p>
              <%= kid[:event_count] %> event<%= "s" if kid[:event_count] > 1 %> soon
            </p>
          </div>
          <%= render "shared/picture", user: kid[:kid], size: "3rem", kid_or_parent: "kid" %>
        <% end %>
      <% end %>

    <% else %>
      <p class="fst-italic text-ligth position-absolute top-50 start-50 translate-middle text-center">You don't have any kid yet</p>
    <% end %>

  </div>

  <%= link_to "Add a kid", new_kid_path, class: "btn btn-secondary mt-3" %>
</div>
