<div class="container d-flex flex-column align-items-center mt-5">
  <div class="d-flex justify-content-start w-100 mb-3">
    <%= link_to '< Back', kids_path, class: "btn btn-link" %>
  </div>
  <%= render "shared/picture", user: @kid, size: "4rem", kid_or_parent: "kid" %>

  <p class="fs-3"><%= @kid.name %></p>

  <%= link_to edit_kid_path(@kid), class: "d-flex flex-row align-items-end me-3 mb-4" do %>
  <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" class="text-secondary"><path d="M192.307-160q-13.923 0-23.115-9.192Q160-178.384 160-192.307v-40.847q0-12.923 5.231-25.115 5.23-12.193 13.923-20.885l491.154-490.923q6.384-6.385 14.077-9.308 7.692-2.923 15.23-2.923 8.308 0 15.5 2.923 7.193 2.923 13.808 9.539l41.154 41.384q6.616 6.385 9.423 13.577 2.808 7.193 2.808 15.5 0 7.308-2.808 15-2.807 7.693-9.423 14.308L279.154-179.154q-8.692 8.693-20.885 13.923Q246.077-160 233.154-160h-40.847Zm492.462-481.846 57.539-57.539-42.923-42.923-57.539 57.539 42.923 42.923Z"/></svg>
  <p class="btn-link"> Edit Information </p>
  <% end %>

  <div class="border-dotted border-secondary mb-3 w-100 d-flex justify-content-around align-items-center rounded p-3">
      <div class="informations mt-3 w-100">
        <h2>Information:</h2>
        <div class="mt-3">
         <p>Blood type: <%= @kid.blood_type.blank? ? "not specified" : @kid.blood_type %></p>
         <p>Doctor number: <%= @kid.doctor_number.blank? ? "not specified" : @kid.doctor_number %></p>
        </div>
      </div>
      <div class="tasks">
      </div>
    </div>
  </div>
</div>
