<%= link_to event_path(event, competition: @current_competition), class: "bg-white border shadow-sm border-secondary h-100 rounded p-4 d-flex flex-column align-items-center" do %>
  <div class="w-100 text-center">
    <p class="fw-bold fs-3"><%= event.title.capitalize %></p>
    <div class="d-flex justify-content-center align-items-center mt-3">
      <p class="me-3">for <%= event.kid.name %></p>
      <%= render 'shared/picture', user: event.kid, size: "2rem", kid_or_parent: "kid" %>
    </div>
  </div>
  <% if event.content.blank? %>
    <div class="w-100 flex-grow-1 position-relative">
      <p class="mt-5 pt-5 text-center fs-7 fst-italic">No additional content</p>
    </div>
  <% else %>
    <p class="mt-5 flex-grow-1 w-100 text-break"><%= event.content %></p>
  <% end %>


  <% days_left = (event.date.to_date - Date.current).to_i %>

  <p class="fw-bold fs-1">
    <% if days_left == 0 %>
      Today at <%= event.date.strftime "%H:%M" %>
    <% else %>
      In <%= days_left %> days
    <% end %>
  </p>

<% end %>
