<div class="h-100 d-flex flex-column align-items-center">
  <div class="switch w-100 d-flex justify-content-center align-items-center mt-2 mb-4 ">
    <%= link_to "Tasks", create_task_path, class: "switch-btn-active me-3", data: { btn: "Add Task" }  %>
    <%= link_to "Events", create_event_path, class: "switch-btn-inactive", data: { btn: "Add Event" }  %>
  </div>
  <h1 class="fw-bold my-5">Add a new Task</h1>

  <%= simple_form_for(@task, html: {class: "d-flex align-items-center flex-column"}) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :title,
                  required: true,
                  autofocus: true,
                  input_html: { class: "form-control" }%>
      <%= f.input :content,
                  required: true,
                  autofocus: true,
                  input_html: { class: "form-control" }%>
      <%= f.input :deadline,
                  required: true,
                  autofocus: true,
                  order: [:day, :month, :year],
                  input_html: { class: "form-control" }%>
      <%= f.input :kid,
                  collection: @kids,
                  include_blank: "Select a kid",
                  required: true,
                  autofocus: true,
                  input_html: { class: "form-control" }%>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Save", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
