<div class="d-flex flex-column align-items-center">
  <div class="btn-group btn-group-toggle w-100 d-flex justify-content-center align-items-center mt-2 mb-4" data-toggle="buttons">
    <%= link_to "New Task", new_task_path, class: "btn btn-secondary", data: { btn: "New Task" }  %>
    <%= link_to "New Event", new_event_path, class: "btn btn-outline-secondary", data: { btn: "New Event" }  %>
  </div>

  <h2 class="heading-container my-4 position-relative w-100">
    Add a Task
    <span class="material-symbols-outlined heading-illustration-icons">
      task_alt
    </span>
    <div class="dropdown position-absolute body-font" style="top: 0px; right: 0px">
      <i class="dropdown-toggle material-symbols-outlined" style="font-size:2rem !important" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        more_horiz
      </i>
      <ul class="dropdown-menu rounded-1 p-3 border-secondary" style="width: 200px">
        <li><%= link_to "Add a recurent task", add_recurent_path %></li>
      </ul>
    </div>
  </h2>

  <%= simple_form_for(@task, html: {class: "container max-width-sm px-5"}) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :title,
                  label: "What's the task ?",
                  required: true,
                  autofocus: true,
                  input_html: { class: "form-control" }%>
      <%= f.input :content,
                  label: "Add some context",
                  autofocus: true,
                  input_html: { class: "form-control" }%>
      <%= f.association :kid,
                        collection: @kids,
                        label: "Who is it for?",
                        include_blank: "Select a kid",
                        required: true,
                        autofocus: true,
                        input_html: { class: "form-control" }%>


      <%= f.simple_fields_for :competitions_tasks do |m| %>
        <%= m.input :deadline,
                    as: :datetime,
                    label: "Optional deadline:",
                    required: false,
                    autofocus: true,
                    html5: true,
                    input_html: { class: "form-control",
                                  min: @current_competition.start_date.strftime('%Y-%m-%dT%H:%M'),
                                  max: @current_competition.end_date.strftime('%Y-%m-%dT%H:%M') } %>

        <%= m.input :competition_id, as: :hidden, input_html: {value: @current_competition.id} %>
      <% end %>
    </div>

    <div class="form-actions d-flex flex-row justify-content-around align-items-center">
      <%= f.button :submit, "Save", class: "btn btn-success my-2 mx-4" %>
      <%= link_to 'Cancel', common_pot_path, class: "btn btn-outline-danger my-2 mx-4" %>
    </div>
  <% end %>
</div>
