<div class="container d-flex flex-column align-items-center">
  <h1 class="mt-3 mb-5 fw-bold"><%= @task.title %></h1>

  <div class="bg-white p-4 rounded shadow mb-4 d-flex justify-content-between align-items-center">
    <div class="details mb-3">
      <p class="mb-3">
        <%= @task.content %>
      </p>
      <p class="mb-3">
        Deadline: <%= @task.deadline.strftime "%d/%m/%y" %>
      </p>
      <p>
        This task is for <strong><%= @task.kid.name %></strong>
      </p>
    </div>

  </div>

    <%= link_to "Back to my tasks", home_tasks_path, class: "btn btn-outline-secondary fw-bold"  %>
</div>
