<div class="container">
  <%= link_to 'Back to all my tasks', tasks_path, class: "fw-bold mt-5 mb-3 d-inline-block" %>
  <h1 class="mb-5 fw-bold"><%= @task.name %></h1>

  <div class="lens-details bg-white p-4 rounded shadow mb-4 d-flex justify-content-between align-items-center">
    <div class="details">
      <p>
        <%= @task.name %>
      </p>
      <p>
        <%= @task.content %>
      </p>
      <p>
        It has to be done for: <%= @task.deadline %>
      </p>
      <p>
        This task is for <%= @task.kid %>
      </p>
    </div>
  </div>

  <div class="bg-white p-4 rounded shadow mb-5 position-relative">
      < ! -- if user=user -> <button>Mark as done</button> <%= insert code here to update the boolean %>
      < ! -- else -> <button>Assign to me</button> <%= insert code here to update the user %> -->
  </div>
</div>
