<div class="d-flex flex-column align-items-center">
  <div class="btn-group btn-group-toggle w-100 d-flex justify-content-center align-items-center mt-2 mb-4" data-toggle="buttons">
    <%= link_to "New Task", new_task_path, class: "btn btn-outline-secondary", data: { btn: "New Task" }  %>
    <%= link_to "New Event", new_event_path, class: "btn btn-secondary", data: { btn: "New Event" }  %>
  </div>

  <h2 class="heading-container my-4">
    Add an Event
    <span class="material-symbols-outlined heading-illustration-icons">
      event
    </span>
  </h2>

  <%= simple_form_for(@event, html: {class: "container max-width-sm px-5"}) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :title,
                  label: "What's the event ?",
                  required: true,
                  autofocus: true %>
      <%= f.input :content,
                  label: "Add some context",
                  autofocus: true %>
      <%= f.input :date,
                  as: :datetime,
                  label: "Select a date and a time",
                  html5: true,
                  input_html: { class: "form-control",
                                min: DateTime.current },
                  required: true,
                  autofocus: true %>
      <%= f.association :kid,
                        collection: @kids,
                        label: "Who is it for?",
                        include_blank: "Select a kid",
                        required: true,
                        autofocus: true,
                        input_html: { class: "form-control" }%>

      <%= f.input :competition_id, as: :hidden, input_html: {value: @current_competition.id} %>
    </div>
    <div class="form-actions d-flex flex-row justify-content-around align-items-center">
      <%= f.button :submit, "Save", class: "btn btn-success my-2 mx-4" %>
      <%= link_to 'Cancel', common_pot_path, class: "btn btn-outline-danger my-2 mx-4" %>
    </div>
  <% end %>

</div>
