<div class="container">
  <h1 class="fw-bold my-5">Add a new Event</h1>

  <%= simple_form_for(@event, html: {class: "d-flex align-items-center flex-column"}) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :name,
                  required: true,
                  autofocus: true,
                  input_html: { class: "bg-white" }%>
      <%= f.input :content,
                  required: true,
                  autofocus: true,
                  input_html: { class: "bg-white" }%>
      <%= f.input :date,
                  required: true,
                  autofocus: true,
                  input_html: { class: "bg-white" }%>
      <%= f.input :hour,
                  required: true,
                  autofocus: true,
                  input_html: { class: "bg-white" }%>
      <%= f.input :location,
                  required: true,
                  autofocus: true,
                  input_html: { class: "bg-white" }%>
      <%= f.input :kid,
                  required: true,
                  autofocus: true,
                  input_html: { class: "bg-white" }%>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Save", class: "btn btn-primary" %>
    </div>
  <% end %>
