<div class="d-flex flex-column align-items-center">
  <div class="switch w-100 d-flex justify-content-center align-items-center mt-2 mb-4 ">
    <%= link_to "New Task", new_task_path, class: "switch-btn-inactive me-3", data: { btn: "New Task" }  %>
    <%= link_to "New Event", new_event_path, class: "switch-btn-active", data: { btn: "New Event" }  %>
  </div>

  <h2 class="heading-container mt-5 mb-4">
    Add an Event
    <span class="material-symbols-outlined heading-illustration-icons">
      event
    </span>
  </h2>

  <%= simple_form_for(@event, html: {class: "container max-width-sm px-5"}) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :title,
                  label: "What's the event ?",
                  required: true,
                  autofocus: true %>
      <%= f.input :content,
                  label: "Add some context",
                  autofocus: true %>
      <%= f.input :date,
                  as: :datetime,
                  label: "Select a date and a time",
                  html5: true,
                  required: true,
                  autofocus: true %>
      <%= f.association :kid,
                        collection: @kids,
                        label: "Who is it for?",
                        include_blank: "Select a kid",
                        required: true,
                        autofocus: true %>
    </div>

    <div class="form-actions d-flex justify-content-center">
      <%= f.button :submit, "Save", class: "btn btn-primary" %>
    </div>
  <% end %>

</div>
