  <div class="d-flex flex-column align-items-center w-100 h-100">

    <h2 class="heading-container">
      Common pot
      <span class="material-symbols-outlined heading-illustration-icons">
        inventory_2
      </span>
    </h2>

    <p style="text-align: center; padding: 12px 0px"> Choose tasks and events to add to your personal to-do list and calendar.</p>

    <div class="overflow-y-scroll d-flex align-items-center flex-column border-dotted border-secondary rounded p-3 w-100 flex-grow-1 position-relative">
      <% if @current_competition %>

        <% if @pending_competitions_tasks.empty? && @pending_events.empty? %>

          <p class="fst-italic text-center position-absolute top-50 start-50 translate-middle">No pending task or event</p>

        <% else %>

          <% @pending_competitions_tasks.each do |competitions_task|%>
            <div class="task border border-info shadow-sm bg-white d-flex justify-content-between p-3 rounded-1 w-100 <%= (competitions_task == @pending_competitions_tasks.last && @pending_events.empty?) ? "" : "mb-3" %>">



              <%= link_to task_path(competitions_task.task, competition: @current_competition), class: "overflow-hidden flex-grow-1 me-2", style: "min-width: 0" do %>
                <p class="text-truncate mb-2 fw-bold"><%= competitions_task.task.title %></p>
                <p class="d-inline-flex align-items-center fs-7">
                  <span class="material-symbols-outlined fw-bold me-2" style="font-size: 1.5rem !important; transform: rotate(10deg) translateY(0px); font-variation-settings: 'FILL' 1;">
                    task_alt
                  </span>
                  for <%= competitions_task.task.kid.name %>
                </p>
                <% if competitions_task.deadline %>
                  <p class="fs-7">
                    Deadline

                    <% days_left = (competitions_task.deadline.to_date - Date.current).to_i %>

                    <% if days_left > 0 %>
                      in <%= days_left %> days
                    <% elsif days_left == 0 %>
                      today at <%= competitions_task.deadline.strftime "%H:%M" %>
                    <% end %>
                  </p>
                <% else %>
                  <p class="fs-7">No deadline</p>
                <% end %>
              <% end %>

              <%= link_to assign_task_path(id: competitions_task), class: "d-flex justify-content-center align-items-center" do %>
                <span class="material-symbols-outlined" style=" font-variation-settings: 'FILL' 0, 'wght' 200;">
                  library_add
                </span>
              <% end %>
            </div>
          <% end %>

          <% @pending_events.each do |event|%>
            <div class="event border border-info shadow-sm bg-white d-flex justify-content-between p-3 rounded-1 w-100 <%= (event == @pending_events.last) ? "" : "mb-3" %>">
              <%= link_to event_path(event, competition: @current_competition), class: "overflow-hidden flex-grow-1 me-2", style: "min-width: 0" do %>
                <p class="text-truncate mb-2 fw-bold"><%= event.title %></p>
                <p class="d-inline-flex align-items-center fs-7"><span class="material-symbols-outlined fw-bold me-2" style="font-size: 1.5rem !important; transform: rotate(10deg) translateY(0px); font-variation-settings: 'FILL' 0, 'wght' 300;">event</span>for <%= event.kid.name %></p>
                <p class="fs-7"><span><%= event.date.strftime "#{event.date.day.ordinalize} %B %y" %></span></p>
              <% end %>

              <%= link_to assign_event_path(id: event), class: "d-flex justify-content-center align-items-center" do %>
                <span class="material-symbols-outlined" style=" font-variation-settings: 'FILL' 0, 'wght' 200;">
                  library_add
                </span>
              <% end %>

            </div>
          <% end %>
        <% end %>

      <% else %>

        <%= render "shared/no_current_competition" %>

      <% end %>
    </div>

  </div>
