  <div class="d-flex flex-column align-items-center w-100 h-100">

    <h2 class="heading-container">
      Common pot
      <span class="material-symbols-outlined heading-illustration-icons">
        inventory_2
      </span>
    </h2>

    <p style="text-align: center; padding: 12px 0px"> Choose tasks and events to add to your personal to-do list and calendar.</p>

    <div class="overflow-y-scroll d-flex align-items-center flex-column border-dotted border-secondary rounded p-3 w-100 flex-grow-1 position-relative">
      <% if @current_competition %>

        <% if @pending_competitions_tasks.empty? && @pending_events.empty? %>

          <p class="fst-italic text-center position-absolute top-50 start-50 translate-middle">No pending task or event</p>

        <% else %>

          <% @pending_competitions_tasks.each do |competitions_task|%>
            <div class="task border mb-3 bg-white d-flex justify-content-between p-3 rounded-1 w-100">
              <%= link_to task_path(competitions_task.task, competition: @current_competition), class: "overflow-hidden flex-grow-1 me-2", style: "min-width: 0" do %>
                <p class="text-truncate"><%= competitions_task.task.title %></p>
                <p style="font-size: 0.8rem"><strong>for <%= competitions_task.task.kid.name %></strong></p>
              <% end %>

              <%= link_to assign_task_path(id: competitions_task), class: "d-flex justify-content-center align-items-center" do %>
                <span class="material-symbols-outlined" style=" font-variation-settings: 'FILL' 0, 'wght' 200;">
                  library_add
                </span>
              <% end %>
            </div>
          <% end %>

          <% @pending_events.each do |event|%>
            <div class="event border mb-3 bg-white d-flex justify-content-between p-3 rounded-1 w-100">
              <%= link_to event_path(event, competition: @current_competition), class: "overflow-hidden flex-grow-1 me-2", style: "min-width: 0" do %>
                <p class="text-truncate"><%= event.title %></p>
                <p style="font-size: 0.8rem"><strong>for <%= event.kid.name %></strong> <%= event.date.strftime "%d/%m/%y" %></p>
              <% end %>

              <%= link_to assign_event_path(id: event), class: "d-flex justify-content-center align-items-center" do %>
                <span class="material-symbols-outlined" style=" font-variation-settings: 'FILL' 0, 'wght' 200;">
                  library_add
                </span>
              <% end %>

            </div>
          <% end %>
        <% end %>

      <% else %>

        <div class="position-absolute top-50 start-50 translate-middle d-flex align-items-center flex-column">
          <p class="fst-italic mb-3">No current competition</p>
        <%= link_to "New competition", new_competition_path, class: "btn btn-secondary fw-bold" %>
        </div>

      <% end %>
    </div>

  </div>
