<div class="d-flex flex-column h-100">
  <div class="btn-group btn-group-toggle w-100 d-flex justify-content-center align-items-center mt-2 mb-4" data-toggle="buttons">
    <%= link_to "Tasks", home_tasks_path, class: "btn btn-outline-secondary", data: { btn: "Tasks" }  %>
    <%= link_to "Events", home_events_path, class: "btn btn-secondary", data: { btn: "Events" }  %>
  </div>

  <div class="flex-grow-1">
    <% if @current_competition %>
      <div class="events d-flex align-items-center flex-column h-100" >
        <div class="flex-grow-1 d-flex align-items-center flex-column rounded p-3 w-100 position-relative">

          <% unless @pending_events.empty? %>
            <div data-controller="swiper" class="w-100 h-100">
              <swiper-container class="mySwiper h-100"
                                pagination="true"
                                pagination-dynamic-bullets="true"
                                effect="cards"
                                cards-effect-per-slide-offset="4"
                                cards-effect-slide-shadows="false"

              >
                <% @pending_events.each do |event|%>
                  <swiper-slide class="p-1" style="height: 90%">
                    <%= render 'events/cards/active_event_card', event: event, competition: @current_competition %>
                  </swiper-slide>
                <% end %>

                <% @completed_events.each do |event|%>
                  <swiper-slide class="p-1" style="height: 90%">
                    <%= render 'events/cards/inactive_event_card', event: event %>
                  </swiper-slide>
                <% end %>
              </swiper-container>
              </div>
            </div>

          <% else %>
          <div class="position-absolute top-50 start-50 translate-middle">
            <p class="fst-italic">No event picked yet</p>
          </div>
          <% end %>
        </div>
      </div>

    <% else %>

      <%= render "shared/no_current_competition" %>

    <% end %>

  </div>
</div>
