<div class="h-100 d-flex flex-column align-items-center">
  <div class="switch w-100 d-flex justify-content-center align-items-center mt-2 mb-4 ">
    <%= link_to "Tasks", home_events_path, class: "switch-btn-active me-3", data: { btn: "Tasks" }  %>
    <%= link_to "Events", home_events_path, class: "switch-btn-inactive", data: { btn: "Events" }  %>
  </div>

  <% if @current_competition %>

    <div id="todo" class="overflow-y-scroll d-flex align-items-center flex-column border-dotted border-secondary rounded p-3 w-100 flex-grow-1">

      <% unless @user_todo.empty? && @user_tasks_completed.empty? %>

          <% @user_todo.each do |competition_task|%>
            <div class="competition_task border bg-white d-flex justify-content-between align-items-center px-3 py-2 rounded-1 w-100 <%= "mb-3" if (competition_task != @user_todo.last) || ((competition_task == @user_todo.last) && !@user_tasks_completed.empty?) %> ">
              <%= link_to task_path(competition_task.task), class: "overflow-hidden flex-grow-1 me-2", style: "min-width: 0" do %>
                <p class="text-truncate"><%= competition_task.task.title %></p>
                <p style="font-size: 0.8rem"><strong>for <%= competition_task.task.kid.name %></strong></p>
              <% end %>

              <%= link_to "", mark_as_done_path(id: competition_task, competition_id: @current_competition), class: "ri-checkbox-blank-line d-flex align-items-center", style: "font-size: 3rem" %>
            </div>
          <% end %>

          <% @user_tasks_completed.each do |competition_task|%>
            <div class="competition_task border bg-white d-flex justify-content-between align-items-center px-3 py-2 rounded-1 w-100 <%= "mb-3" if competition_task != @user_tasks_completed.last %> ">
              <%= link_to task_path(competition_task.task), class: "overflow-hidden flex-grow-1 me-2", style: "min-width: 0" do %>
                <p class="text-truncate"><%= competition_task.task.title %></p>
                <p style="font-size: 0.8rem"><strong>for <%= competition_task.task.kid.name %></strong></p>
              <% end %>

              <i class=" d-flex align-items-center" ></i>
              <%= link_to "", unmark_as_done_path(id: competition_task, competition_id: @current_competition), class: "d-flex align-items-center ri-checkbox-line", style: "font-size: 3rem"  %>
            </div>
          <% end %>

      <% else %>
        <p class="fst-italic">No task picked yet</p>
      <% end %>
    </div>

  <% else %>

    <div class="position-absolute top-50 start-50 translate-middle d-flex align-items-center flex-column">
      <p class="fst-italic mb-3">No current competition</p>
    <%= link_to "New competition", new_competition_path, class: "btn btn-secondary fw-bold" %>
    </div>

  <% end %>
</div>
