<div class="common-pot mb-5">
  <h2 class="d-inline-block w-100 text-center">Commont pot <i class="ri-archive-fill d-inline-block text-secondary" style="transform: rotate(10deg)"></i></h2>
  <div class="commont-pot overflow-y-scroll p-4 rounded d-flex flex-column align-items-center border-dotted border-secondary" style="max-height: 66vh">

    <% if @pending_tasks.empty? && @pending_events.empty? %>

      <p class="fst-italic text-ligth">No pending task or event</p>

    <% else %>

      <% @pending_tasks.each do |task|%>
        <div class="task border mb-3 bg-white d-flex justify-content-between p-3 rounded-1 w-100">
          <%= link_to task_path(task), class: "overflow-hidden flex-grow-1 me-2", style: "min-width: 0" do %>
            <p class="text-truncate"><%= task.title %></p>
            <p style="font-size: 0.8rem"><strong>for <%= task.kid.name %></strong></p>
          <% end %>

          <%= link_to "Take for me", assign_task_path(id: task), class: "btn btn-secondary fw-bold text-nowrap d-flex align-items-center", style: "font-size: 0.8rem" %>
        </div>
      <% end %>

      <% @pending_events.each do |event|%>
        <div class="event border mb-3 bg-white d-flex justify-content-between p-3 rounded-1 w-100">
          <%= link_to event_path(event), class: "overflow-hidden flex-grow-1 me-2", style: "min-width: 0" do %>
            <p class="text-truncate"><%= event.title %></p>
            <p style="font-size: 0.8rem"><strong>for <%= event.kid.name %></strong> <%= event.date.strftime "%d/%m/%y" %></p>
          <% end %>

          <%= link_to "Take for me", assign_event_path(id: event), class: "btn btn-secondary fw-bold text-nowrap d-flex align-items-center", style: "font-size: 0.8rem" %>
        </div>
      <% end %>
    <% end %>

  </div>
</div>

<div class="current-competition">
  <h2 class="d-inline-block w-100 text-center">Current competition <i class="ri-trophy-fill text-secondary d-inline-block" style="transform: rotate(10deg)"></i></h2>
  <%= link_to competitions_path do %>
    <div class="d-flex align-items-center flex-column mb-5 border-dotted border-secondary rounded p-3">
      <div class="scores d-flex align-items-center justify-content-evenly w-100">
        <% @couple.users.each do |user| %>
          <div class="d-flex align-items-around flex-column text-center">
            <p><strong><%= user.first_name %></strong></p>
            <i class="ri-account-circle-line " style="font-size: 3rem"></i>
            <p class="fs-1"><strong><%= user.scores.where(competition: @current_competition)[0].score %></strong></p>
          </div>
          <% unless user == @couple.users.last %>
            <%= image_tag "crown.svg", alt: "crown image", style: "width: 50px; transform: rotate(20deg)" %>
          <% end %>
        <% end %>
      </div>

      <p><strong><%= (@current_competition.end_date - Date.current).to_i %> days remaining</strong></p>
    </div>
  <% end %>
</div>

<div class="todo-list" >
  <h2 class="d-inline-block w-100 text-center">To-do list <i class="ri-todo-fill text-secondary d-inline-block" style="transform: rotate(10deg)"></i></h2>
  <div id="todo" class="d-flex align-items-center flex-column mb-5 border-dotted border-secondary rounded p-3" >

    <% @user_todo.each do |competition_task|%>
        <div class="competition_task border mb-3 bg-white d-flex justify-content-between p-3 rounded-1 w-100">
          <%= link_to task_path(competition_task.task), class: "overflow-hidden flex-grow-1 me-2", style: "min-width: 0" do %>
            <p class="text-truncate"><%= competition_task.task.title %></p>
            <p style="font-size: 0.8rem"><strong>for <%= competition_task.task.kid.name %></strong></p>
            <%= competition_task.is_done %>
          <% end %>

          <%= link_to "Mark as done", mark_as_done_path(id: competition_task, competition_id: @current_competition), class: "btn btn-secondary fw-bold text-nowrap d-flex align-items-center", style: "font-size: 0.8rem" %>
        </div>
      <% end %>
  </div>
</div>
