<%= link_to event_path(event, competition: @current_competition), class: "bg-white border-dotted border-secondary h-100 rounded p-4 d-flex flex-column align-items-center" do %>
  <div class="w-100 text-center">
    <p class="text-break fw-bold fs-3"><%= event.title.capitalize %></p>
    <div class="d-flex justify-content-center align-items-center mt-3">
      <p class="me-3">for <%= event.kid.name %></p>
      <%= render 'shared/picture', user: event.kid, size: "2rem", kid_or_parent: "kid" %>
    </div>
  </div>
  <p class="mt-5 flex-grow-1"><%= event.content %></p>

  <% days_left = (event.date - DateTime.current).to_i %>

  <p class="fw-bold fs-1">
    <% if days_left == 1 %>
      Today at <%= event.date.strftime "%H:%M" %>
    <% else %>
      In <%= days_left %> days
    <% end %>
  </p>

<% end %>
