<!DOCTYPE html>
<html>
  <head>
    <title>TheFavorite</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
  </head>

  <body class="d-flex flex-column" style="height: 100vh">
    <%= render "shared/flashes" %>
    <%= render "shared/header" %>
    <div class="flex-grow-1 overflow-scroll container site-content">
      <%= yield %>
    </div>
    <%= render "shared/navbar" %>
  </body>
</html>
