<!DOCTYPE html>
<html>
  <head>
    <title>TheFavorite</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
  </head>

  <body>
    <%= render "shared/flashes" %>
    <div class="position-absolute top-0 start-50 translate-middle-x">
      <%= link_to root_path  do %>
        <%= image_tag("the-favorite-logo-svg.svg", class: "pt-5", style: "width: 10rem") %>
      <% end %>
    </div>
    <div class="position-absolute top-50 start-50 translate-middle p-3 container">
      <%= yield %>
    </div>
  </body>
</html>
