<!DOCTYPE html>
<html>
  <head>
    <title>TheFavorite</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
  </head>

  <body>
    <%= render "shared/flashes" %>
    <div class="container d-flex flex-column align-items-center">
      <%= link_to root_path, class: "my-5"  do %>
        <%= image_tag("the-favorite-logo-svg.svg", class: "py-3", style: "width: 10rem") %>
      <% end %>
      <div class="">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
